In [1]:
import pandas as pd

#importing encoded, transformed and standardized Suicide data

path = './'
data = pd.read_csv(path+'std_ft_df.csv')
print('\nNumber of rows and columns in the data set: ',data.shape)

Number of rows and columns in the data set:  (27820, 17)

In [5]:
#X/y Split
X = data.drop('suicides/100k pop',axis=1).copy() # Independet variable
y = data['suicides/100k pop'].copy() # dependent variable

X = X.to_numpy()
y = y.to_numpy()

In [6]:
print(__doc__)

import numpy as np
import matplotlib.pyplot as plt
from sklearn.feature_selection import f_regression, mutual_info_regression

#np.random.seed(0)
#X = np.random.rand(1000, 3)
#y = X[:, 0] + np.sin(6 * np.pi * X[:, 1]) + 0.1 * np.random.randn(1000)

f_test, _ = f_regression(X, y)
f_test /= np.max(f_test)

mi = mutual_info_regression(X, y)
mi /= np.max(mi)

#plt.figure(figsize=(15, 5))
#for i in range(3):
#    plt.subplot(1, 3, i + 1)
#    plt.scatter(X[:, i], y, edgecolor='black', s=20)
#    #plt.xlabel("$x_{}$".format(i + 1), fontsize=14)
#    plt.xlabel(std_ft_df.columns[i], fontsize=14)
#
#    if i == 0:
#        plt.ylabel("$y$", fontsize=14)
#    plt.title("F-test={:.2f}, MI={:.2f}".format(f_test[i], mi[i]),
#              fontsize=16)
#plt.show()

Automatically created module for IPython interactive environment

In [11]:
mift_df=pd.DataFrame(columns=['feature', 'MI', 'f_test'])
mift_df.head()

Empty DataFrame
Columns: [feature, MI, f_test]
Index: []

In [4]:
columns=list(data.columns)
columns

['yr_bc_std',
 'gdpc_bc_std',
 'gdpyr_bc_std',
 'age_std',
 'pop_bc_std',
 'continent_Asia',
 'continent_Europe',
 'continent_North America',
 'continent_Oceania',
 'continent_South America',
 'sex_male',
 'generation_G.I. Generation',
 'generation_Generation X',
 'generation_Generation Z',
 'generation_Millenials',
 'generation_Silent',
 'suicides/100k pop']

In [16]:
#mift_df.drop(mift_df.columns)

for i in range(16):
    mift_df.loc[i,'feature']=columns[i]
    mift_df.loc[i,'MI']=mi[i]
    mift_df.loc[i,'f_test']=f_test[i]
    mift_df.loc[i,'pval']=_[i]
    
    
mift_df.sort_values('pval', ignore_index=True)

                       feature          MI       f_test           pval
0                    yr_bc_std    0.401521     0.836234   0.000000e+00
1                     sex_male    0.196704            1   0.000000e+00
2        generation_Millenials   0.0654489     0.235347  2.338111e-254
3   generation_G.I. Generation   0.0287552     0.216466  1.661602e-234
4            generation_Silent   0.0526353     0.146872  9.468086e-161
5      generation_Generation Z   0.0786892     0.130033  9.213587e-143
6      continent_North America   0.0621917     0.125146  1.565823e-137
7             continent_Europe   0.0281194     0.103733  1.488983e-114
8                   pop_bc_std    0.354848    0.0501779   1.209421e-56
9      generation_Generation X  0.00958127    0.0235718   1.389462e-27
10                gdpyr_bc_std           1   0.00948004   4.981425e-12
11                 gdpc_bc_std           0   0.00928379   8.240090e-12
12     continent_South America   0.0242118   0.00378707   1.264957e-05
13           continent_Oceania  0.00524292   0.00087531   3.578899e-02
14                     age_std    0.287515  0.000770074   4.894289e-02
15              continent_Asia  0.00760185  0.000261571   2.511194e-01